/*
    Author     : Stefan Huber
*/

.root {
    -fx-padding: 0;
    -fx-min-width: 500px;
}

#updateQueryBox {
    -fx-alignment: CENTER;
    -fx-padding: 10px 0;
    -fx-spacing: 10px;
}

#overlayBackground {
    -fx-background-color: black;
    -fx-opacity: 0.7;
}

#overlayText {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#creditsMenuItem > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/check.png");
}

#honorings .menu-item > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/diploma.png");
}

#licensesMenu .menu-item > .label, #licensesMenu > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/investment.png");
}

#sepaMenu .menu-item > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/money.png");
}

#birthdayMenu .menu-item > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/gift.png");
}

#addressesMenu .menu-item > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/worldwide.png");
}

#version > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/app.png")
}

#checkData > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/database.png")
}

#queryDialogMenuItem > .label {
    -fx-graphic: url("/bayern/steinbrecher/green2/memberManagement/icons/search.png");
}