**/build/*
**/nbproject/private/*
**/dist/*
**/bin/*
*.class
.idea/inspectionProfiles/
Launcher/.idea/artifacts/
Launcher/.idea/inspectionProfiles/
Membermanagement/.idea/inspectionProfiles/
out/
**/.idea/workspace.xml
