**/build/*
**/nbproject/private/*
**/dist/*
**/bin/*
*.class
UPDATED.TXT
**/.jacocoverage/*
**/report.html/*
Launcher/SingleJarLauncher/*
**/target/*
/target/
/Wizard/nbproject/
/Launcher/nbproject/
/EnvironmentHandler/nbproject/
/ConfigurationDialog/nbproject/