[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/java -jar %f
Comment=Kümmere dich um deine Mitglieder
Name=Grün2 Mitgliederverwaltung
Icon=/opt/Grün2_Mitgliederverwaltung/icon.png
MimeType=application/x-java-archive;application/java-archive;application/x-jar;
Categories=Office;Java;
