#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/bin/sh /opt/Grün2_Mitgliederverwaltung/uninstall.sh
Comment=Grün2 deinstallieren
Name=Grün2 deinstallieren
Icon=/opt/Grün2_Mitgliederverwaltung/icon.png
Categories=Office;Java;
