/* 
    Author     : Stefan Huber
*/

* {
    -fx-main-color: forestgreen; /*#228B22*/
    -fx-main-error-color: red;
    -fx-main-radius: 3px;
}

.root{
    -fx-background-color: white;
    -fx-focus-color: -fx-main-color; 
    -fx-padding: 10px;
    -fx-hgap: 5px;
    -fx-vgap: 10px;
    -fx-default-button: -fx-focus-color;
}

.date-picker, .text-field{
    -fx-highlight-fill: -fx-main-color;
    -fx-border-color: transparent;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-min-width: 200px;
}

.emptyTextField, .toLongContent, .invalidDate, .invalidSpinnerValue, .unmatchRegex{
    -fx-border-color: -fx-main-error-color;
    -fx-highlight-fill: -fx-main-error-color;
    -fx-focus-color: -fx-main-error-color;
}

.emptyTextField:focused, .toLongContent:focused, .invalidDate:focused,
.invalidSpinnerValue:focused{
    -fx-border-color: transparent;
}

.warningLabel{
    -fx-text-fill: -fx-main-error-color;
    -fx-font-weight: bold;
}

/* Date-Picker */
.date-picker-popup{
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 25, 0, 3, 5);
}

.date-picker-popup > .month-year-pane{
    -fx-background-color: -fx-main-color;
    -fx-background-radius: 15px 15px 0px 0px;
}

.date-picker-popup > .month-year-pane > .secondary-label {
}

.date-picker-popup > * > .spinner {
}

.date-picker-popup > * > .spinner > .button {
}

.date-picker-popup > * > .spinner > .label {
    -fx-text-fill: white;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: white;
    -fx-background-image: url("icon.png");
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom right;
}

.date-picker-popup > * > .date-cell{
}

.date-picker-popup > * > .day-name-cell{
}

.date-picker-popup > * > .week-number-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -fx-main-color;
}

.date-picker-popup > * > .day-cell {
    -fx-text-fill: lime;
    -fx-background-color: rgba(80,80,80,0.7);
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: -fx-main-color;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
}

.date-picker-popup > * > .day-cell.selected{
    -fx-background-color: orangered;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month{
    -fx-background-color: rgba(50,50,50,0.8);
}

.date-picker-popup > * > .today {
    -fx-background-color: rgba(50,50,255,0.5);
}

.progress-bar{
    -fx-accent: forestgreen;
}
