[Desktop Entry]
Type=Application
Version=1.0
Name=Start Green2
Name[de]=Grün2 starten
Exec=/usr/bin/xdg-open /opt/Green2/bin/Launcher
Icon=/opt/Green2/bin/icon.png
Categories=Office;Java;
